* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
}

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6d6d6;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 0 2rem;
}

nav div h1 {
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px 4px;
  transition: all;
  transition-duration: 333ms;
  border: solid 1px #00000000;
  border-radius: 12px;
}

.imgJudul {
  display: flex;
  align-items: center;
}

nav ul li a:hover {
  border: solid 1px #e2bf29;
  color: #e2bf29;
}

.imglist {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    border-top: 1px solid black;
    padding: 1rem;
  }

  nav ul.hidden {
    display: none;
  }

  .imglist {
    display: flex;
    align-items: center;
  }
  .imglist i {
    font-size: 30px;
  }
}

footer {
  background-color: #e2bf29;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

.boxmateri {
  background-image: linear-gradient(to right, #e2c029d7, #a2d4eb);
  /* background-color: #e2bf29; */
  margin: 65px;
  margin-top: 120px;
  border-radius: 30px;
  padding: 2rem 33px;
}

.pengertian {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.jenis {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.contoh {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
