* {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-size: 15px;
}

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6d6d6;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 0 2rem;
  z-index: 999;
}

nav div h1 {
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 1rem;
}

ul li a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 4px 4px;
  transition: all;
  transition-duration: 333ms;
  border: solid 1px #00000000;
  border-radius: 12px;
}

.imgJudul {
  display: flex;
  align-items: center;
}

nav ul li a:hover {
  border: solid 1px #e2bf29;
  color: #e2bf29;
}

.imglist {
  display: none;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
    border-top: 1px solid black;
    padding: 1rem;
  }

  nav ul.hidden {
    display: none;
  }

  .imglist {
    display: flex;
    align-items: center;
  }
  .imglist i {
    font-size: 30px;
  }
}

footer {
  background-color: #e2bf29;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
}

/* ISI WEB */
.image-home {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.LOGO {
  width: 300px;
  position: relative;
}

header .intro {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 9rem 9rem;
  max-width: 800px;
}

.tombol {
  background-color: #e2bf29;
  height: 40px;
  max-width: fit-content;
  line-height: 42px;
  color: #f1f1f1;
  text-decoration: none;
  display: inline-block;
  padding: 0px 20px;
  width: 100%;
  font-size: 15px;
  border-radius: 10px;
}
